body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    color: #333;
}

h1 {
    text-align: center;
    color: #007bff;
    margin-top: 50px;
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

li {
    display: inline-block;
    margin: 10px;
}

a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

#rounded-link {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
}

#rounded-link:hover {
    background-color: #0056b3;
}

/* Adicione um estilo para o rodapé, se desejar */
footer {
    text-align: center;
    margin-top: 50px;
    color: #777;
}